<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="EngineeringDeckLocation" value="../../GameContent/Base/Decks/EngineeringDeck.json" />
    <add key="LeadershipDeckLocation" value="../../GameContent/Base/Decks/LeadershipDeck.json" />
    <add key="DestinationDeckLocation" value="../../GameContent/Base/Decks/DestinationDeck.json" />
    <add key="CrisisDeckLocation" value="../../GameContent/Base/Decks/CrisisDeck.json" />
    <add key="LoyaltyDeckLocation" value="../../GameContent/Base/Decks/LoyaltyDeck.json" />
    <add key="PilotingDeckLocation" value="../../GameContent/Base/Decks/PilotingDeck.json" />
    <add key="PoliticsDeckLocation" value="../../GameContent/Base/Decks/PoliticsDeck.json" />
    <add key="QuorumDeckLocation" value="../../GameContent/Base/Decks/QuorumDeck.json" />
    <add key="SuperCrisisDeckLocation" value="../../GameContent/Base/Decks/SuperCrisisDeck.json" />
    <add key="TacticsDeckLocation" value="../../GameContent/Base/Decks/TacticsDeck.json" />
    <add key="BoardLocation" value="../../GameContent/Base/Boards/Locations.json" />
    <add key="BoardSkillCheckLocation" value="../../GameContent/Base/Boards/BoardSkillChecks.json" />
    <add key="CivilianLocation" value="../../GameContent/Base/Components/CivilianPile.json" />
    <add key="TreacheryDeckLocation" value="../../GameContent/Base/Decks/TreacheryDeck.json" />
    <add key="CharacterListLocation" value="../../GameContent/Base/Characters/Characters.json" />
    <add key="SkillCheckRuleListLocation" value="../../GameContent/SkillCheckRules.json" />
    <add key="MaxVipers" value="8" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>